@if (message(); as msg) {
  <div class="card mb-3">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <span class="badge rounded-pill text-bg-violet">{{ msg.name }}</span>
        </div>
        <div class="col-auto">
          <small class="text-body-secondary">{{ msg.created | date:'short' }}</small>
        </div>
      </div>
      <p class="card-text fw-bold mb-4 mt-3">{{ msg.message }}</p>
      <p class="card-text"><small class="text-body-secondary">Question by: {{ msg.createdBy | userModel | uppercase }}</small></p>
    </div>
  </div>
} @else {
  Data not found
}
