<app-section-headline [header]="'Home'"></app-section-headline>

<div class="container my-8">
  <section>

    <header class="mb-4">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fw-bold m-0">Latest questions</h2>
        </div>
        <div class="col-auto">
          <a href="#" title="#" class="text-uppercase fw-bold text-decoration-none">See all</a>
        </div>
      </div>
    </header>

    @for (message of (messages$ | async); track message.id){
      <app-message [message]="message"></app-message>
    }

    <div class="mt-8 text-end">
      <button type="button" class="text-uppercase fw-bold text-decoration-none e-icon-link e-icon-link--action"
              (click)="onNewQuestionClick()">
        <i class="zmdi zmdi-plus"></i>
        New question
      </button>
    </div>

  </section>
</div>
